@charset "UTF-8";
/*НАДО СДЕЛАТЬ "БУРГЕР" ДЛЯ АДАПТИВА*/
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Pangolin&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lora");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
.container {
  max-width: 100%;
  padding: 0 200px 0;
}
@media (max-width: 1200px) {
  .container {
    max-width: 970px;
    padding: 0 100px 0;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 750px;
    padding: 0 50px 0;
  }
}
@media (max-width: 767px) {
  .container {
    max-width: none;
    padding: 0;
  }
}

.menu {
  max-width: 100%;
  margin: 0 auto 0;
}
.menu__topmenu {
  display: flex;
}
.menu__topmenu .main {
  flex: 1 1 auto;
}
.menu__topmenu .main, .menu__topmenu .login {
  display: flex;
  flex-wrap: wrap;
}
.menu__topmenu .main > li, .menu__topmenu .login > li {
  margin: 0 2% 0;
  position: relative;
  transition: 1s;
  transition-property: background;
}
.menu__topmenu .main > li:nth-child(6), .menu__topmenu .login > li:nth-child(6) {
  margin-top: 4px;
  width: 25px;
  height: 25px;
  left: 0;
  animation: sibit_icon_from 2s linear infinite alternate-reverse 0s forwards;
}
.menu__topmenu .main > li:nth-child(6) img, .menu__topmenu .login > li:nth-child(6) img {
  width: 25px;
  height: 25px;
}
@media (max-width: 1200px) {
  .menu__topmenu .main > li:nth-child(6), .menu__topmenu .login > li:nth-child(6) {
    margin-top: 6px;
    width: 20px;
    height: 20px;
  }
  .menu__topmenu .main > li:nth-child(6) img, .menu__topmenu .login > li:nth-child(6) img {
    width: 20px;
    height: 20px;
  }
}
.menu__topmenu .main > li:last-child, .menu__topmenu .login > li:last-child {
  margin-right: 15px;
}
@media (max-width: 1200px) {
  .menu__topmenu .main > li:last-child, .menu__topmenu .login > li:last-child {
    margin-right: 8px;
  }
}
@media (max-width: 1200px) {
  .menu__topmenu .main > li, .menu__topmenu .login > li {
    margin: 0 1% 0;
  }
}
.menu__topmenu .main > li.study, .menu__topmenu .login > li.study {
  width: 20%;
}
.menu__topmenu .main a, .menu__topmenu .login a {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  outline: none;
  font-family: "Lora", serif;
  transition: 0.5s linear;
  font-size: 14px;
}
@media (max-width: 1200px) {
  .menu__topmenu .main a, .menu__topmenu .login a {
    font-size: 12px;
  }
}
.menu__topmenu .main a.icon, .menu__topmenu .login a.icon {
  background: transparent;
}
.menu .menu__submenu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  z-index: 10;
  transition: 1s ease-in-out;
  display: none;
  background: #7374C7;
  z-index: 10;
}
.menu .menu__submenu li:hover {
  background: #543DA8;
  color: #000;
  transition: 1s;
  transition-property: background;
}
.menu ul {
  background: #BDD3FF;
  list-style: none;
  margin: 0;
  padding: 0;
}
.menu ul a {
  color: #000;
  transition: 1s;
  transition-property: background;
}
.menu ul a:hover {
  color: #fff;
  transition: 1s;
  transition-property: background;
}
.menu ul li:hover {
  background: #7374C7;
}
.menu ul li:hover .menu__submenu {
  display: block;
  transition: 1s;
  transition-property: background;
}
.menu ul .icon {
  background: transparent;
  transition: none;
}
.menu ul .icon:hover {
  background: transparent;
  transition: none;
}

@keyframes sibit_icon_from {
  0% {
    left: 0;
  }
  100% {
    left: 15%;
    transform: rotate(360deg);
  }
}
.body {
  margin: 30px 0 30px;
}

.content {
  background-color: rgba(189, 211, 255, 0.3);
  padding: 40px 80px 50px;
  max-width: inherit;
  border: 1px solid #BDD3FF;
}
.content a {
  color: #7374C7;
}
.content a:hover {
  color: #543DA8;
  text-decoration: underline;
}
.content__title {
  font-family: "Lora", serif;
  color: #000;
  font-size: 48px;
  margin-top: 30px;
}
@media (max-width: 1200px) {
  .content__title {
    font-size: 36px;
  }
}
@media (max-width: 992px) {
  .content__title {
    font-size: 24px;
  }
}
.content__title span {
  text-transform: uppercase;
  color: #543DA8;
  font-weight: 700;
}
.content h2 {
  font-family: "Lora", serif;
  color: #000;
  font-size: 24px;
  padding-top: 30px;
}
@media (max-width: 1200px) {
  .content h2 {
    font-size: 18px;
  }
}
.content__info {
  font-size: 18px;
  font-family: "Lora", serif;
  color: #000;
  margin-top: 50px;
}
.content__list {
  margin-top: 20px;
  margin-bottom: 20px;
}
.content__list li {
  margin-left: 50px;
  margin-bottom: 10px;
}
.content__list li:before {
  content: "";
  margin-right: 10px;
  display: inline-block;
  background: #7374C7;
  width: 10px;
  height: 10px;
}
.content__list li:hover:before {
  border-radius: 50%;
  background: #543DA8;
}
.content__list li:after {
  content: ";";
}